

body {
  font-family: "Playwrite FR Moderne", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

main{
    width: 80%;
    margin: 0 auto;
}

h1{
    font-weight: 200;
}