section{
    width: 80%;
    height: 800px;
    background-image: url('https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin: 0 auto ;
}

h1{
    font-size: 80px;
    color: white;
   