section{
    background-color: aqua;
    width:800px;
    height:800px;
}

div{
    background-color: aliceblue;
    width:50%;
    height:50%;
}

h1{
    font-size:40px;
    border: 1px solid black;
    line-height: 200%;
}

article{
    font-size: 30px;
}
h2{
    font-size:2em;
    margin-left:1em;
}
h3{
    font-size:3em;
}
button{
    font-size:100px;
    padding: 30px;
    border-radius: 0.5em;
    background-color: blue;
    color: white;
}
#ems ul{
    font-size:1.5em;
}

#rems h2{
    font-size: 3rem;
}
#rems h3{
    font-size: 2rem;
}

#rems ul{
    font-size: 2rem;
}