section{
    width:500px;
    height: 500px;
    background-color: magenta;
}

#rgba{
    width: 50%;
    height: 50%;
    background-color: rgba(134, 214, 94,0.8);
}

#opacity{
    width: 50%;
    height:50%;
    background-color: aqua;
    opacity: 1;
}